<!-- public/partials/contatos.html -->

<!-- A classe "jumbotron" e usada para area de destaque na tela. -->
<div class="jumbotron">
	<h1 class="text-center">
		Bem-vindo ao Contatooh
	</h1>
</div>
<!-- Exibindo avisos para o usuario. -->
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<!-- Diretiva para o evento de click. -->
<a id="btnNovo" href="#/contato" class="btn btn-primary">
	Novo Contato
</a>
<input ng-model="filtro" type="search" placeholder="parte do nome">
<p class="text-info" ng-hide="contatos.length">
	Não há contatos cadastrados.
</p>
<!-- <p>Contatos cadastrados: {{total}}</p> -->
<p ng-show="contatos.length">
	Contatos cadastrados: {{contatos.length}}
</p>

<meu-painel titulo="Listagem de Contatos">
	<div class="table-responsive">
		<!-- A classe "table-hover" destaca linhas, com o mouse. -->
		<table class="table table-hover">
			<tr>
				<th>NOME</th>
				<th>E-MAIL</th>
				<th>EMERGÊNCIA</th>
				<th class="text-center">AÇÃO</th>
			</tr>
			<!-- O "contatos" é a lista que esta sendo percorrida. -->
			<tr ng-repeat="contato in contatos | filter: filtro">
				<td>
					<a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
				</td>
				<td>
					{{contato.email}}
				</td>
				<td>
					{{contato.emergencia.nome}}
				</td>
				<td class="text-center">
					<meu-botao-aviso nome="Remover" acao="remove(contato)"></meu-botao-aviso>
				</td>
			</tr>
		</table>
	</div>
</meu-painel>
