<!-- app/views/auth.ejs -->
<!docytype html>
<html>
<head>
    <title>Autenticação do Usuário</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
    <div class="container">
        <a href="/auth/github">
            <h1 class="text-center">Entre pelo GitHub</h1>
        </a>
    </div>
</body>
</html>